<h1>Twitter</h1>
<h3>Thanks for stopping by!!!! Login to stay updated</h3>
<form action="/login" method="POST">
	<input type="text" name="email" placeholder="email">
	<input type="password" name="password" placeholder="password">
	<button type="Submit">Submit</button>
</form>
<% if t==1 %>
<h6>Wrong Email ID and Password</h6>
<% end %>
<a href="/signup">Sign Up Today</a>
<style>
body
{
		 

}
</style>